<br>
<h1 style="font-size:300%;">ToDo:Brasov</h1>
<br>
<br>

<div class="sections">
 <table style="width:100%">
    <tr>
      <td style="font-size:180%">Cinema</td>
      <td style="font-size:180%">Concert</td>
      <td style="font-size:180%">Food</td>
      <td style="font-size:180%">Pub</td>
      <td style="font-size:180%">Sport</td>
    </tr><br>
    <tr>
      <td><img src="/assets/images/cinema.jpg" style="width:228px;height:128px;"></td>
      <td><img src="/assets/images/concert.jpg" style="width:228px;height:128px;"></td>
      <td><img src="/assets/images/food.jpg" style="width:228px;height:128px;"></td>
      <td><img src="/assets/images/pub.jpg" style="width:228px;height:128px;"></td>
      <td><img src="/assets/images/sport.jpg" style="width:228px;height:128px;"></td>
    </tr><br>
    <tr>
      <td><button pButton type="button" routerLink="/cinema" label="Cinema"></button></td>
      <td><button pButton type="button" routerLink="/concert" label="Concert"></button></td>
      <td><button pButton type="button" routerLink="/food" label="Food"></button></td>
      <td><button pButton type="button" routerLink="/pub" label="Pub"></button></td>
      <td><button pButton type="button" routerLink="/sport" label="Sport"></button></td>
    </tr>
  </table>
</div>