 <p-dataTable [value]="pubs"  selectionMode="single" [(selection)]="selectedPub" [contextMenu]="cm">
      <p-column field="name" header="Name"  [sortable]="true"></p-column>
      <p-column field="location" header="Location" [sortable]="true"></p-column>
      <p-column field="program" header="Program" [sortable]="true"></p-column>
    </p-dataTable>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<div class="input"><br>
<table>
    <tr>
      <td>Name</td>
      <td><input type="text" pInputText [(ngModel)]="name"/></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><input type="text" pInputText [(ngModel)]="location"/></td>
    </tr>
    <tr>
      <td>Program</td>
      <td><input type="text" pInputText [(ngModel)]="program"/></td>
    </tr>
  </table><br>
  <button pButton type="button" (click)="addPub(name, location, program)" label="Create"></button>
</div>